@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.header-container,
.c1-container, 
.c2-container,
.c3-container,
.c4-container,
.footer {
    display: flex;
    justify-content: center;
}

.header,
.content-one,
.content-two,
.content-three, 
.content-four {
    width: 900px;
    height: 400px;
}

.header-container,
.c1-container,
.footer {
    background: #1F2937;
}

.header {
    height: 72px;
    padding: 12px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.h-links,
.c1-secondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

.h-links {
    display: flex;
    gap: 12px;
}

ul {list-style: none;}
a  {color: #E5E7EB; text-decoration: none;}

.content-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c1-leftcontent {
    width: 420px;
}

.c1-maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content-one .signup {
    margin-top: 12px;
}

.content-one img {
    height: 200px;
    width: 420px;
}

.content-two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c2-maintext {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.c2-cards {
    display: flex;
    gap: 32px;
}

.card {
    max-width: 150px;
    text-align: center;
    flex: auto;
}

.card img {
    border: 5px solid #3882f6;
    border-radius: 1em;
    height: 150px;
    width: 150px;
}

.c3-container {
    background: #E5E7EB;
}

.content-three {
    color: #1F2937;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

.content-three .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.content-three .author {
    font-size: 24px;
    font-weight: bolder;
    margin-left: auto;
}

.content-four {
    height: 200px;

    display: flex;
    justify-content: center;
}

.blue-box {
    background: #3882f6;
    width: 900px;
    padding: 24px;
    border-radius: 1em;
    color: #F9FAF8;

    align-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-box .title {
    font-size: 24px;
    font-weight: bolder;
}

button {
    color: #F9FAF8;
    font-weight: bolder;
    background: #3882f6;
    border: 3px solid #ffffff;
    border-radius: 8px;
    padding: 8px 16px;
}

.footer {
    height: 72px;
    align-items: center;
}

/** for debugging, use 
    border: 1px solid #fff; 
**/